{{> navbar}}

<div class="main">
    <div class="main__actor-content">
        <div class="actor-content__flex-container">
            <div class="flex-container__left">
                <div class="flex-container__left-inner">
                    <img class="left-inner__actor-avatar-img" src="{{avatar}}">
                    <button id="actor-button-like" class="left-inner__actor-button-like">
                        В избранное
                    </button>
                </div>
            </div>

            <div class="flex-container__center">
                <h1 class="center__actor-name">
                    {{name}}
                </h1>

                <div class="center__actor-info">
                    <div class="actor-info__header">
                        <h2 class="actor-content__header">Основная информация</h2>
                    </div>
                    <div class="actor-info__info-row">
                        <div class="info-row__info-title">Дата рождения</div>
                        <div class="info-row__info-value">{{birthdate}}</div>
                    </div>
                    <div class="actor-info__info-row">
                        <div class="info-row__info-title">Страна</div>
                        <div class="info-row__info-value">{{origin}}</div>
                    </div>

                    <div class="actor-info__info-row">
                        <div class="info-row__info-title">Профессия</div>
                        <div class="info-row__info-value">{{profession}}</div>
                    </div>

                    <div class="actor-info__info-row">
                        <div class="info-row__info-title">Всего фильмов</div>
                        <p class="info-row__info-value">{{movies_count}}</p>
                    </div>
<!--                    <div class="actor-info__info-row">-->
<!--                        <div class="info-row__info-title">Средний рейтинг фильмов</div>-->
<!--                        <p class="info-row__info-value">{{movies_rating}}</p>-->
<!--                    </div>-->

                    <div class="actor-info__biography">
                        <h2 class="actor-content__header">Факты</h2>
                        <div class="biography__text-container">
                            <p class="biography__text">{{biography}}</p>
                        </div>
                    </div>

                </div>

                <div class="center__actor-movies">
                    <h2 class="actor-content__header">Фильмы</h2>
                    <div class="actor-movies__movies-list">
                        {{#each movies}}
                            <div class="movies-list__movies-item">
                                <a class="movies-item__title info-row__info-link" href="/movie/{{this.id}}">{{this.title}}</a>
                                <p class="movies-item__rating">Рейтинг: {{this.rating}}</p>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

