{{> navbar}}


<div class="main">
    {{#if (eq type "best")}}
        <h3 class="main__page-title">ТОП-100</h3>
    {{/if}}
    {{#if (eq type "genres")}}
        <h3 class="main__page-title">
            По жанрам:
            {{#each genres}}<a href="/movies/genre/1/?filter={{decodeURI this}}" class="genres-list__genre">{{decodeURI this}}</a>{{#unless @last}}<span class="genres-list__genre">/</span>{{/unless}}{{/each}}
        </h3>
    {{/if}}
    <div class="main__movies-list-grid">
        {{#each movies}}
            <div class="movies-list-grid__movie-card">
                <div class="movie-card__left">
                    <a href="/movie/{{this.id}}"><img class="movie-card-img" src="{{this.poster}}"></a>
                </div>
                <div class="movie-card__center">
                    <a class="center__movie-link center__info-link" href="/movie/{{this.id}}">
                        <h3 class="center__card-title center__tooltip"
                            data-index="{{calculateMovieIndex ../current_page ../max_items (inc @index)}}">
                            {{this.title}}
                        </h3>
                        <span class="center__tooltip-text">{{this.title}}</span>
                    </a>
                    <p class="center__movie-genres">
                        {{#each genre}}
                            <a href="/movies/genre/1/?filter={{this}}" class="movie-genres__genre-link center__info-link">
                                {{this}}</a>{{#unless @last}}<span>, </span>{{/unless}}
                        {{/each}}
                    </p>
                    <p class="center__movie-description">{{this.description}}</p>
                </div>
                <div class="movie-card__right">
                    {{#if (gte this.rating 7)}}<h4 class="right__movie-rating positive-rating">{{this.rating}}</h4>
                    {{else}}
                        {{#if (gte this.rating 4)}}<h4 class="right__movie-rating neutral-rating">{{this.rating}}</h4>
                        {{else}}<h4 class="right__movie-rating negative-rating">{{this.rating}}</h4>{{/if}}
                    {{/if}}
                    {{#if (getAuthStatus)}}
                        <div class="right__bottom-buttons">
                            <input class="buttons__input-watched buttons__movie-card-input-watched"
                                   id="watched-button-{{this.id}}" type="checkbox" name="watched" data-id="{{this.id}}">
                            <label class="buttons__label-watched" for="watched-button-{{this.id}}"></label>
                            <input class="buttons__input-playlist buttons__movie-card-input-playlist"
                                   id="playlist-button-{{this.id}}" type="checkbox" name="playlist" data-id="{{this.id}}">
                            <label class="buttons__label-playlist" for="playlist-button-{{this.id}}"></label>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>

    <!-- parametrize -->
    {{#if (notEq pages_number 1)}}
        {{#pagination current_page pages_number}}
            <div class="main__pagination-wrapper">
                {{#unless startFromFirstPage}}
                    {{#if (eq ../type "best")}}
                        <a href="/movies/best/{{dec ../current_page}}">
                    {{else}}
                        <a href="/movies/genre/{{dec ../current_page}}/{{../query}}">
                    {{/if}}
                        <button class="pagination-wrapper__button">&lt;</button>
                    </a>
                {{/unless}}

                {{#each pages}}
                    {{#if (eq ../../type "best")}}
                        <a href="/movies/best/{{page}}">
                    {{else}}
                        <a href="/movies/genre/{{page}}/{{../../query}}">
                    {{/if}}
                    <button {{#if isCurrent}}disabled{{/if}} class="pagination-wrapper__button">{{page}}</button>
                    </a>
                {{/each}}

                {{#unless endAtLastPage}}
                    {{#if (eq ../type "best")}}
                        <a href="/movies/best/{{inc ../current_page}}">
                    {{else}}
                        <a href="/movies/genre/{{inc ../current_page}}/{{../query}}">
                    {{/if}}
                    <button class="pagination-wrapper__button">&gt;</button>
                    </a>
                {{/unless}}
            </div>
        {{/pagination}}
    {{/if}}
</div>
