<div class="header">
    <div class="header__section">
        <div class="header__item header-logo">
            <a href="/">КиноПоиск</a>
        </div>
        <div class="header__item header-button">
            <a href="/">Фильмы</a>
        </div>
        <div class="header__item header-button">
            <a href="/">Актеры</a>
        </div>
        <div class="header__item header-button">
            <a href="/">Поиск</a>
        </div>
    </div>
    <div class="header__section">
        {{#if isAuthorized}}
            <div class="header__item header-button">
                <a href="/">Профиль</a>
            </div>
            <div class="header__item header-button">
                <a href="/logout" id="logout-button">Выйти</a>
            </div>
        {{else}}
            <div class="header__item header-button">
                <a href="/login">Войти</a>
            </div>
            <div class="header__item header-button">
                <a href="/signup">Регистрация</a>
            </div>
        {{/if}}
    </div>
</div>

<div class="main">

    <div class="settings-box-outer">

        <div class="settings-avatar-box">
            <div class="settings-avatar-container">
                <img id="avatar-img" class="settings-avatar-img" src="{{avatar}}" alt="">
            </div>
            <div class="settings-avatar-container-buttons">
                <input type="file" id="avatar" name="avatar" class="upload-file-button" accept="image/png, image/jpeg">
                <button id="avatar-upload-button" type="button" class="submit-button">Обновить</button>
            </div>
            <p id="settings-avatar-errors" class="validation-hint settings-errors"></p>
        </div>

        <div class="settings-box">
            <p class="settings-header">Настройки</p>
            <div class="settings-table">
                <div class="settings-table-inner">
                    <p class="settings-table-inner-left">Имя пользователя:</p>
                    <input type="text" id="user-username" class="input-field settings-table-inner-right"
                           placeholder="Имя пользователя" value="{{username}}" readonly>
                </div>
                <div>
                    <div class="settings-table-inner">
                        <p class="settings-table-inner-left">Имя:</p>
                        <input type="text" id="user-fullname" class="input-field settings-table-inner-right"
                               placeholder="Имя" value="{{fullname}}">
                    </div>
                    <p id="settings-errors-fullname" class="validation-hint settings-errors"></p>
                </div>
                <div>
                    <div class="settings-table-inner">
                        <p class="settings-table-inner-left">email:</p>
                        <input type="text" id="user-email" class="input-field settings-table-inner-right"
                               placeholder="email" value="{{email}}">
                    </div>
                    <p id="settings-errors-email" class="settings-errors validation-hint"></p>
                </div>
                <div>
                    <div class="settings-table-inner">
                        <p class="settings-table-inner-left">Пароль:</p>
                        <input class="input-field settings-table-inner-right" type="password" id="user-password"
                               placeholder="Пароль">
                    </div>
                    <div class="settings-table-inner">
                        <p class="settings-table-inner-left">Повторите пароль:</p>
                        <input class="input-field settings-table-inner-right" type="password" id="user-password-repeat"
                               placeholder="Повторите пароль">
                    </div>
                    <p id="settings-errors-password" class="settings-errors validation-hint"></p>
                </div>
            </div>

            <button type="button" class="submit-button settings-save-button" id="settings-save-button">Сохранить
            </button>
            <p id="settings-errors" class="settings-errors validation-hint"></p>
        </div>

    </div>

</div>

