<div class="header">
    <div class="header__section">
        <div class="header__item header-logo">
            <a href="/">КиноПоиск</a>
        </div>
        <div class="header__item header-button">
            <a href="/">Фильмы</a>
        </div>
        <div class="header__item header-button">
            <a href="/">Актеры</a>
        </div>
        <div class="header__item header-button">
            <a href="/">Поиск</a>
        </div>
    </div>
    <div class="header__section">
        {{#if isAuthorized}}
            <div class="header__item header-button">
                <a href="/me">Профиль</a>
            </div>
            <div class="header__item header-button">
                <a href="/logout" id="logout-button">Выйти</a>
            </div>
        {{else}}
            <div class="header__item header-button">
                <a href="/login">Войти</a>
            </div>
            <div class="header__item header-button">
                <a href="/signup">Регистрация</a>
            </div>
        {{/if}}
    </div>
</div>

<div class="main">
    <div class="content-container">
        <div class="movie-content-container">
            <div class="background_trailer">
                <div class="background_trailer_img center"
                     style="background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(28, 37, 65, 255)), url('{{banner}}');"></div>
            </div>

            <div class="flex_container">
                <div class="movie_content_left">
                    <div class="movie_content_left_inner">
                        <img class="movie_content_left_img" src="{{poster}}">
                        <img class="movie_content_left_img" src="{{trailer_preview}}">
                    </div>
                </div>
                <div class="movie_content_center">
                    <div class="movie_info_title">
                        <h1 class="movie-title">
                            {{title}}
                        </h1>
                    </div>
                    <div class="meta_info">
                        <p>{{description}}</p>
                    </div>

                    <h2 class="movie_info_title">О фильме</h2>

                    <div class="movie_info">
                        <div class="info_row">
                            <div class="info_title">Год производства</div>

                            <a href="" class="info_link">{{production_year}}</a>

                        </div>
                        <div class="info_row">
                            <div class="info_title">Страна</div>

                            {{#each country}}
                                <a href="" class="info_link">{{this}}</a>{{#unless @last}}, {{/unless}}
                            {{/each}}

                        </div>
                        <div class="info_row">
                            <div class="info_title">Жанр</div>

                            {{#each genre}}
                                <a href="" class="info_link">{{this}}</a>
                                {{#unless @last}}<span>, </span>{{/unless}}
                            {{/each}}

                        </div>
                        <div class="info_row">
                            <div class="info_title">Слоган</div>

                            <div class="info_value">«{{slogan}}»</div>

                        </div>
                        <div class="info_row">
                            <div class="info_title">Режиссёр</div>

                            <a href="" class="info_link">{{director}}</a>

                        </div>
                        <div class="info_row">
                            <div class="info_title">Сценарист</div>

                            <a href="" class="info_link">{{scriptwriter}}</a>

                        </div>
                        <div class="info_row">
                            <div class="info_title">Продюсер</div>

                            <a href="" class="info_link">{{producer}}</a>

                        </div>
                        <div class="info_row">
                            <div class="info_title">Оператор</div>

                            <a href="" class="info_link">{{operator}}</a>

                        </div>
                        <div class="info_row">
                            <div class="info_title">Композитор</div>

                            <a href="" class="info_link">{{composer}}</a>

                        </div>
                        <div class="info_row">
                            <div class="info_title">Художник</div>

                            <a href="" class="info_link">{{artist}}</a>

                        </div>
                        <div class="info_row">
                            <div class="info_title">Монтаж</div>

                            <a href="" class="info_link">{{montage}}</a>

                        </div>
                        <div class="info_row">
                            <div class="info_title">Бюджет</div>

                            <a href="" class="info_link">{{budget}}</a>

                        </div>
                        <div class="info_row">
                            <div class="info_title">Время</div>

                            <div class="info_value">{{duration}}</div>

                        </div>
                    </div>
                </div>
                <div class="movie_content_right">
                    {{#if isAuthorized}}
                        <div class="watch-like-buttons">
                            <input class="input-watched movie-page-input-watched" id="watched-button" type="checkbox"
                                   name="watched">
                            <label class="label-watched" for="watched-button"></label>
                            <input class="input-like movie-page-input-like" id="like-button" type="checkbox"
                                   name="liked">
                            <label class="label-like" for="like-button"></label>
                        </div>
                    {{/if}}

                    {{#if (gte rating 7)}}<h2 class="movie-rating positive-rating">{{rating}}</h2>
                    {{else}}
                        {{#if (gte rating 4)}}<h2 class="movie-rating neutral-rating">{{rating}}</h2>
                        {{else}}<h2 class="movie-rating negative-rating">{{rating}}</h2>{{/if}}
                    {{/if}}

                    {{#if isAuthorized}}
                        {{#if userRating}}
                            <h3 class="rate-movie">Ваша оценка: {{userRating.score}}/10</h3>
                            <p id="delete-rating" class="delete-rating">Удалить оценку</p>
                        {{else}}
                            <h3 class="rate-movie">Оцените фильм</h3>
                        {{/if}}
                        <div class="rating-stars-container">
                            <input class="input-star max-star" id="star-10" type="radio" name="star"/>
                            <label class="label-star" for="star-10" data-rating="10"></label>
                            <input class="input-star" id="star-9" type="radio" name="star"/>
                            <label class="label-star" for="star-9" data-rating="9"></label>
                            <input class="input-star" id="star-8" type="radio" name="star"/>
                            <label class="label-star" for="star-8" data-rating="8"></label>
                            <input class="input-star" id="star-7" type="radio" name="star"/>
                            <label class="label-star" for="star-7" data-rating="7"></label>
                            <input class="input-star" id="star-6" type="radio" name="star"/>
                            <label class="label-star" for="star-6" data-rating="6"></label>
                            <input class="input-star" id="star-5" type="radio" name="star"/>
                            <label class="label-star" for="star-5" data-rating="5"></label>
                            <input class="input-star" id="star-4" type="radio" name="star"/>
                            <label class="label-star" for="star-4" data-rating="4"></label>
                            <input class="input-star" id="star-3" type="radio" name="star"/>
                            <label class="label-star" for="star-3" data-rating="3"></label>
                            <input class="input-star" id="star-2" type="radio" name="star"/>
                            <label class="label-star" for="star-2" data-rating="2"></label>
                            <input class="input-star" id="star-1" type="radio" name="star"/>
                            <label class="label-star" for="star-1" data-rating="1"></label>
                        </div>
                    {{/if}}

                    <div class="main-roles">
                        <h3 class="movie_content_right_header">В главных ролях</h3>
                        <ul class="actors_list">
                            {{#each actors}}
                                <li><a class="actors_list_item">{{this}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{#if isAuthorized}}
        {{#if userReview}}
            {{#if wantsToEditReview}}
                <div class="content-container">
                    <div class="write-review-container" id="user-review-container">
                        <h3 class="your-review write-review">Редактирование рецензии</h3>
                        <div class="review-form-container">
                            <form id="review" class="review-form">
                                <select name="review_type" class="select-review-type" id="select-type">
                                    <option {{#if (eq userReview.review_type "positive")}}selected{{/if}}
                                            value="positive">Положительная
                                    </option>
                                    <option {{#if (eq userReview.review_type "neutral")}}selected{{/if}}
                                            value="neutral">Нейтральная
                                    </option>
                                    <option {{#if (eq userReview.review_type "negative")}}selected{{/if}}
                                            value="negative">Отрицательная
                                    </option>
                                </select>
                                <input name="title" type="text" class="input-field input-review-title review-input"
                                       placeholder="Заголовок" value="{{userReview.title}}">
                                <textarea name="content" class="input-field input-review-content review-input"
                                          placeholder="Ваши впечатления о фильме">{{userReview.content}}</textarea>
                                <p class="validation-hint send-form-hint" id="validation-hint-review"><em></em></p>
                                <button type="submit" id="review-button" class="submit-button">Отправить</button>
                            </form>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="content-container">
                    <div class="review-content-container {{userReview.review_type}}-review-background">
                        <h3 class="your-review">
                            Ваша рецензия
                            <button class="fa-button edit-button" id="edit-button" data-movie-id="{{id}}">
                                <i class="fa fa-pencil-square-o fa-2x"></i>
                            </button>
                            <button class="fa-button delete-button" id="delete-button" data-movie-id="{{id}}">
                                <i class="fa fa-trash-o fa-2x"></i>
                            </button>
                        </h3>
                        <div class="review-body">
                            <p class="review-title">{{userReview.title}}</p>
                            <p class="review-content">{{userReview.content}}</p>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{else}}
            <div class="content-container">
                <div class="write-review-container" id="user-review-container">
                    <h3 class="your-review write-review">Напишите рецензию</h3>
                    <div class="review-form-container">
                        <form id="review" class="review-form">
                            <select name="review_type" class="select-review-type" id="select-type">
                                <option selected disabled>Тип рецензии</option>
                                <option value="positive">Положительная</option>
                                <option value="neutral">Нейтральная</option>
                                <option value="negative">Отрицательная</option>
                            </select>
                            <input name="title" type="text" class="input-field input-review-title review-input"
                                   placeholder="Заголовок">
                            <textarea name="content" class="input-field input-review-content review-input"
                                      placeholder="Ваши впечатления о фильме"></textarea>
                            <p class="validation-hint send-form-hint" id="validation-hint-review"><em></em></p>
                            <button type="submit" id="review-button" class="submit-button">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        {{/if}}
    {{/if}}

    {{#if reviewsData.reviews}}
        <hr class="reviews-separator"/>

        {{#each reviewsData.reviews}}
            {{#if @first}}
            <div class="content-container" id="first-review">
            {{else}}
            <div class="content-container">
            {{/if}}
            <div class="review-content-container {{this.review_type}}-review-background">
                <h3 class="your-review">Рецензия {{this.author}}</h3>
                <div class="review-body">
                    <p class="review-title">{{this.title}}</p>
                    <p class="review-content">{{this.content}}</p>
                </div>
            </div>
        </div>
        {{/each}}

        {{#if (notEq reviewsData.pages_number 1)}}
            {{#pagination reviewsData.current_page reviewsData.pages_number}}
                <div class="pagination-wrapper">
                    {{#unless startFromFirstPage}}
                        <button class="pagination-button" data-page-index="{{dec ../reviewsData.current_page}}">&lt;
                        </button>
                    {{/unless}}

                    {{#each pages}}
                        {{#if isCurrent}}
                            <button disabled class="pagination-button pagination-current-button"
                                    data-page-index="{{page}}">{{page}}</button>
                        {{else}}
                            <button class="pagination-button" data-page-index="{{page}}">{{page}}</button>
                        {{/if}}
                    {{/each}}

                    {{#unless endAtLastPage}}
                        <button class="pagination-button" data-page-index="{{inc ../reviewsData.current_page}}">&gt;
                        </button>
                    {{/unless}}
                </div>
            {{/pagination}}
        {{/if}}
    {{/if}}

</div>
