<div class="main__slider">
    {{#if (eq itemsType 'movies')}}
        {{#each items}}
            <div class="slider__card slider__card_tooltip" data-tooltip="{{title}}">
                <a href="/movie/{{this.id}}"><img src="{{this.poster}}"></a>
            </div>
        {{/each}}
    {{else}}{{#if (eq itemsType 'actors')}}
        {{#each items}}
            <div class="slider__card">
                <a href="/actor/{{this.id}}"><img src="{{this.avatar}}"></a>
            </div>
        {{/each}}
    {{else}}{{#if (eq itemsType 'reviews')}}
        {{#each items}}
            <div class="slider__review-card">
                <div class="review-card__content review_background_{{this.review_type}}">
                    <p class="content__title">{{this.title}}</p>
                    <p class="content__text">{{this.content}}</p>
                </div>
            </div>
        {{/each}}
    {{/if}}
    {{/if}}
    {{/if}}
</div>
<div class="main__arrows">
    <button class="fa-button carousel-arrows__arrow carousel-arrows__arrow_left carousel-arrows__arrow_hidden">
        <i class="fa fa-arrow-left fa-2x"></i>
    </button>
    <button class="fa-button carousel-arrows__arrow carousel-arrows__arrow_right">
        <i class="fa fa-arrow-right fa-2x"></i>
    </button>
</div>
