<div class="main__accordion">
    {{#each playlists}}
        <div class="accordion__tab">
            <input class="tab__input" type="checkbox" id="tab-{{@index}}" name="tab-group">
            <label class="tab__title" for="tab-{{@index}}">{{this.playlistName}}</label>
            <div class="tab__content-container">
                {{#each this.movies}}
                    <a class="tab__content-link" href="/movie/{{this.id}}">
                        <p class="tab__content-row">{{this.title}}</p>
                    </a>
                {{/each}}
            </div>
        </div>
    {{/each}}
    <button id="create-playlist-button" class="fa-button create-playlist-button">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Создать плейлист
    </button>
</div>
