<div class="accordion__tab">
    <input class="tab__input" type="checkbox" id="tab-{{id}}" name="tab-group">
    <label class="tab__title" for="tab-{{id}}">{{playlistName}}</label>
    <div class="tab__content-container">
        {{#each movies}}
            <a class="tab__content-link" href="/movie/{{this.id}}">
                <p class="tab__content-row">{{this.title}}</p>
            </a>
        {{/each}}
    </div>
</div>
