<div class="add-to-playlist-widget__playlist-row">
    <label class="add-to-playlist-widget__label" data-playlist-id="{{id}}">
        {{playlistName}}
    </label>
    {{#if isAdded}}
        <input id="checkbox-{{id}}" class="add-to-playlist-widget__checkbox" type="checkbox"
               data-movie-id="{{movieId}}" checked/>
    {{else}}
        <input id="checkbox-{{id}}" class="add-to-playlist-widget__checkbox" type="checkbox"
               data-movie-id="{{movieId}}"/>
    {{/if}}
</div>
