{{> navbar}}


<div class="main">
    <div class="main__profile-card">
        <div class="profile-card__container">
            <div class="container__avatar-container">
                <img class="avatar-container__avatar" src="{{avatar}}" alt="">
            </div>

            <div class="profile-card__content">
                <div class="content__head">
                    <p id="user-full-name" class="head__user-name">{{username}}</p>
                    <span id="user-email" class="head__user-email">{{email}}</span>
                    <button id="button-profile-settings" class="head__settings-button">
                        <a class="settings-button__settings-link" href="/settings">Настройки</a>
                    </button>
                </div>
                <div class="content__stats">
                    <div class="stats__stats-item">
                        <p class="stats-item__name">Посмотрел фильмов</p>
                        <span id="user-watched-movies-cnt" class="stats-item__value">{{movies_watched}}</span>
                    </div>
                    <div class="stats__stats-item">
                        <p class="stats-item__name">Рецензий</p>
                        <span id="user-reviews-cnt" class="stats-item__value">{{reviews_number}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="main__section-name">Любимые фильмы</h3>

    <div class="main__slider">
        {{#each favourite_movies}}
            <div class="slider__card">
                <a href="/movie/{{ inc @index}}"><img src="{{this}}"></a>
            </div>
        {{/each}}
    </div>

    <h3 class="main__section-name">Любимые актеры</h3>

    <div class="main__slider">
        {{#each favourite_actors}}
            <div class="slider__card">
                <a href="/actor/{{this.id}}"><img src="{{this.poster}}"></a>
            </div>
        {{/each}}
    </div>

    {{#if reviews}}
        <h3 class="main__section-name">Рецензии</h3>

        <div class="main__slider">
            {{#each reviews}}
                <div class="slider__review-card">
                    <div class="review-card__content review_background_{{this.review_type}}">
                        <p class="content__title">{{this.title}}</p>
                        <p class="content__text">{{this.content}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>
