<div class="header">
    <div class="header__section">
        <div class="header__item header__logo">
            <a href="/">КиноПоиск</a>
        </div>
        <div class="header__item header__button">
            <a href="/">Фильмы</a>
        </div>
        <div class="header__item header__button">
            <a href="/">Актеры</a>
        </div>
        <div class="header__item header__button">
            <a href="/">Поиск</a>
        </div>
    </div>
    <div class="header__section">
        {{#if isAuthorized}}
            <div class="header__item header__button">
                <a href="/me">Профиль</a>
            </div>
            <div class="header__item header__button">
                <a href="/logout" id="logout-button">Выйти</a>
            </div>
        {{else}}
            <div class="header__item header__button">
                <a href="/login">Войти</a>
            </div>
            <div class="header__item header__button">
                <a href="/signup">Регистрация</a>
            </div>
        {{/if}}
    </div>
</div>


<div class="main">
    {{#if (eq type "best")}}
        <h3 class="main__page-title">ТОП-100</h3>
    {{/if}}
    {{#if (eq type "genres")}}
        <h3 class="main__page-title">
            По жанрам:
            {{#each genres}}
                <a href="" class="genres-list__genre">{{decodeURI this}}</a>{{#unless @last}}<span class="genres-list__genre">, </span>{{/unless}}
            {{/each}}
        </h3>
    {{/if}}
    <div class="main__movies-list-grid">
        {{#each movies}}
            <div class="movies-list-grid__movie-card">
                <div class="movie-card__left">
                    <a href="/movie/{{this.id}}"><img class="movie-card-img" src="{{this.poster}}"></a>
                </div>
                <div class="movie-card__center">
                    <a class="center__movie-link center__info-link" href="/movie/{{this.id}}">
                        <h3 class="center__card-title center__tooltip"
                            data-index="{{calculateMovieIndex ../current_page ../max_items (inc @index)}}">
                            {{this.title}}
                        </h3>
                        <span class="center__tooltip-text">{{this.title}}</span>
                    </a>
                    <p class="center__movie-genres">
                        {{#each genre}}
                            <a href="" class="movie-genres__genre-link center__info-link">
                                {{this}}</a>{{#unless @last}}<span>, </span>{{/unless}}
                        {{/each}}
                    </p>
                    <p class="center__movie-description">{{this.description}}</p>
                </div>
                <div class="movie-card__right">
                    {{#if (gte this.rating 7)}}<h4 class="right__movie-rating positive-rating">{{this.rating}}</h4>
                    {{else}}
                        {{#if (gte this.rating 4)}}<h4 class="right__movie-rating neutral-rating">{{this.rating}}</h4>
                        {{else}}<h4 class="right__movie-rating negative-rating">{{this.rating}}</h4>{{/if}}
                    {{/if}}
                    {{#if ../isAuthorized}}
                        <div class="right__bottom-buttons">
                            <input class="buttons__input-watched buttons__movie-card-input-watched"
                                   id="watched-button-{{this.id}}" type="checkbox" name="watched">
                            <label class="buttons__label-watched" for="watched-button-{{this.id}}"></label>
                            <input class="buttons__input-like buttons__movie-card-input-like"
                                   id="like-button-{{this.id}}" type="checkbox" name="liked">
                            <label class="buttons__label-like" for="like-button-{{this.id}}"></label>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>

    <!-- parametrize -->
    {{#if (notEq pages_number 1)}}
        {{#pagination current_page pages_number}}
            <div class="main__pagination-wrapper">
                {{#unless startFromFirstPage}}
                    <a href="/movies/best/{{dec ../current_page}}">
                        <button class="pagination-wrapper__button">&lt;</button>
                    </a>
                {{/unless}}

                {{#each pages}}
                    {{#if isCurrent}}
                        <a href="/movies/best/{{page}}">
                            <button disabled class="pagination-wrapper__button">{{page}}</button>
                        </a>
                    {{else}}
                        <a href="/movies/best/{{page}}">
                            <button class="pagination-wrapper__button">{{page}}</button>
                        </a>
                    {{/if}}
                {{/each}}

                {{#unless endAtLastPage}}
                    <a href="/movies/best/{{inc ../current_page}}">
                        <button class="pagination-wrapper__button">&gt;</button>
                    </a>
                {{/unless}}
            </div>
        {{/pagination}}
    {{/if}}
</div>

