<div class="header">
    <div class="header__section">
        <div class="header__item header-logo">
            <a href="/">КиноПоиск</a>
        </div>
        <div class="header__item header-button">
            <a href="/">Фильмы</a>
        </div>
        <div class="header__item header-button">
            <a href="/">Актеры</a>
        </div>
        <div class="header__item header-button">
            <a href="/">Поиск</a>
        </div>
    </div>
    <div class="header__section">
        {{#if isAuthorized}}
            <div class="header__item header-button">
                <a href="/me">Профиль</a>
            </div>
            <div class="header__item header-button">
                <a href="/logout" id="logout-button">Выйти</a>
            </div>
        {{else}}
            <div class="header__item header-button">
                <a href="/login">Войти</a>
            </div>
            <div class="header__item header-button">
                <a href="/signup">Регистрация</a>
            </div>
        {{/if}}
    </div>
</div>


<div class="main">
    <h3 class="page-title">ТОП-100</h3>
    <div class="movies-list-grid">
        {{#each movies}}
            <div class="movie-card">
                <div class="movie-card-left">
                    <a href="/movie/{{this.id}}"><img class="movie-card-img" src="{{this.poster}}"></a>
                </div>
                <div class="movie-card-center">
                    <a class="movie-link card-info-link" href="/movie/{{this.id}}">
                        <h3 class="movie-card-title tooltip"
                            data-index="{{calculateMovieIndex ../current_page ../max_items (inc @index)}}">
                            {{this.title}}
                        </h3>
                        <span class="tooltip-text">{{this.title}}</span>
                    </a>
                    <p class="movie-card-genre">
                        {{#each genre}}
                            <a href="" class="genre-link card-info-link">{{this}}</a>{{#unless @last}}<span>, </span>{{/unless}}
                        {{/each}}
                    </p>
                    <p class="movie-card-description">{{this.description}}</p>
                </div>
                <div class="movie-card-right">
                    {{#if (gte this.rating 7)}}<h4 class="movie-rating positive-rating">{{this.rating}}</h4>
                    {{else}}
                        {{#if (gte this.rating 4)}}<h4 class="movie-rating neutral-rating">{{this.rating}}</h4>
                        {{else}}<h4 class="movie-rating negative-rating">{{this.rating}}</h4>{{/if}}
                    {{/if}}
                    {{#if ../isAuthorized}}
                        <div class="bottom-buttons">
                            <input class="input-watched movie-card-input-watched" id="watched-button-{{this.id}}"
                                   type="checkbox" name="watched">
                            <label class="label-watched" for="watched-button-{{this.id}}"></label>
                            <input class="input-like movie-card-input-like" id="like-button-{{this.id}}" type="checkbox"
                                   name="liked">
                            <label class="label-like" for="like-button-{{this.id}}"></label>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>

    {{#if (notEq pages_number 1)}}
        {{#pagination current_page pages_number}}
            <div class="pagination-wrapper">
                {{#unless startFromFirstPage}}
                    <a href="/movies/best/{{dec ../current_page}}">
                        <button class="pagination-button">&lt;</button>
                    </a>
                {{/unless}}

                {{#each pages}}
                    {{#if isCurrent}}
                        <a href="/movies/best/{{page}}">
                            <button disabled class="pagination-button pagination-current-button">{{page}}</button>
                        </a>
                    {{else}}
                        <a href="/movies/best/{{page}}">
                            <button class="pagination-button">{{page}}</button>
                        </a>
                    {{/if}}
                {{/each}}

                {{#unless endAtLastPage}}
                    <a href="/movies/best/{{inc ../current_page}}">
                        <button class="pagination-button">&gt;</button>
                    </a>
                {{/unless}}
            </div>
        {{/pagination}}
    {{/if}}
</div>

